.rotation-enter-active, .rotation-leave-active {
  transition: transform .1s;
}
.rotation-enter {
  transform: rotate(180deg);
}

.rotation-leave-to {
  transform: rotate(-180deg);
}

.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
